/saved_models
/temp
/data_cleaner/cleaned
data/*
!data/*.py
!data/EnglishBPETokenizer/**
!data/PersianBPETokenizer/**
data_cleaner/temp
data_cleaner/*.txt
data_cleaner/clean
!data_cleaner/clean/*.ipynb
/checkpoints
**/.ipynb_checkpoints
/data_cleaner/SubtitleCleaner
/data_cleaner/WMT19
/data_cleaner/Idioms
